<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Codevog_Options>
            <version>0.0.5</version>
        </Codevog_Options>
    </modules>
    <global>
        <helpers>
            <codevog_options>
                <class>Codevog_Options_Helper</class>
            </codevog_options>
        </helpers>
        <blocks>
            <codevog_options>
                <class>Codevog_Options_Block</class>
            </codevog_options>
            <customer>
                <rewrite>
                    <account_navigation>Codevog_Options_Block_Account_Navigation</account_navigation>
                </rewrite>
            </customer>
            <page>
                <rewrite>
                    <html_topmenu>Codevog_Options_Block_Topmenu</html_topmenu>
                </rewrite>
            </page>
            <checkout>
                <rewrite>
                    <cart_item_renderer>Codevog_Options_Block_Checkout_Cart_Item_Renderer</cart_item_renderer>
                </rewrite>
            </checkout>
        </blocks>
        <models>
            <codevog_options>
                <class>Codevog_Options_Model</class>
            </codevog_options>
        </models>
        <resources>
            <options_setup>
                <setup>
                    <module>Codevog_Options</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </options_setup>
            <options_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </options_write>
            <options_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </options_read>
        </resources>
    </global>
    <frontend>
        <translate>
            <modules>
                <Template_Options>
                    <files>
                        <default>4market_Translate.csv</default>
                    </files>
                </Template_Options>
            </modules>
        </translate>
        <layout>
            <updates>
                <codevog_options>
                    <file>options.xml</file>
                </codevog_options>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Template_Options>
                    <files>
                        <default>4market_Translate.csv</default>
                    </files>
                </Template_Options>
            </modules>
        </translate>
    </adminhtml>
</config>