
body {
	color: #333333;
    font-size: 12px;
}
a { color: #777777; }
a:hover { color: #00a9c7; }



.wrapper
{
				border-top-color: #333333;
	
			
	}
.page
{
	}



.header-container
{
	background-color: ;
	
	}
.header
{
	background-color: ;
	
	}
.header a {
	}
.header a:hover {
	}



#nav ul.level0,
#nav ul,

#mini-cart .block-content,
.truncated .truncated_full_value .item-options,
.dropdown-button:hover .inner,
.dropdown-button ul
{
			background-color: #ffffff;
		
			color: #333333;
	}

#nav ul li a,
#mini-cart .block-content a,
.dropdown-button ul a
{
			color: #777777;
	}
#nav ul li a:hover,
#mini-cart .block-content a:hover,
.dropdown-button ul a:hover
{
			color: #00a9c7;
	}



#mobnav
{
	background-color: #f5f5f5;
    color: #333333;
}
#mobnav-trigger
{
	color: #333333;
}

#mobnav-trigger:hover
{
	background-color: #5bd2ec;
	color: #ffffff;
}

#mobnav-trigger.active
{
	background-color: #5bd2ec;
	color: #ffffff;
}

#mobnav-trigger .icon .line {
	background-color: #333333;
}
#mobnav-trigger:hover .icon .line {
	background-color: #ffffff;
}
#mobnav-trigger.active .icon .line {
	background-color: #ffffff;
}


.nav
{
	}

#nav {
	background-color: #f5f5f5;
    color: #333333;
}
#nav > li > a {
	color: #333333;
}

#nav > li:hover > a {
	background-color: #5bd2ec;
	color: #ffffff;
}

.cms-index-index #nav #nav-home-link > a,
#nav > li.active > a {
	background-color: #333333;
	color: #ffffff;
}

#nav { border-bottom:5px solid #333333; }
#nav > li { border-bottom:5px solid transparent; margin-bottom:-5px; /* Fill in he gap */ }
#nav ul.level0 { top:54px; }



.main-container
{
		
	}
.main {
			background-color: #ffffff;
    }



.footer-container
{
			background-color: #f5f5f5;
	}
.footer
{
		
	}
.footer a
{
	}
.footer a:hover
{
	}



.footer-top-container
{
	}
.footer-top
{
		
	}
.footer-top a
{
	}
.footer-top a:hover
{
	}



.footer-primary-container
{
	}
.footer-primary
{
			background-color: #ffffff;
    	
	}
.footer-primary a
{
	}
.footer-primary a:hover
{
	}



button.button span
{
	background-color: #dcf1ff;
	color: #333333;
}
button.button:hover span
{
	background-color: #5bd2ec;
	color: #ffffff;
}

.product-view .btn-cart span,
button.btn-checkout span
{
	background-color: #333333;
	color: #ffffff;
}
.product-view .btn-cart:hover span,
button.btn-checkout:hover span
{
	background-color: #5bd2ec;
	color: #ffffff;
}



.feature div.icon
{
	background-color: #d52462;
}
.feature:hover div.icon
{
	background-color: #5bd2ec;
}



.links a:hover {
			background-color: #d52462;
        		color: #ffffff;
    }



.price-box .price { color: #00a9c7; }



.sticker.new {
	background-color: #5bd2ec;
	color: #ffffff;
}
.sticker.sale {
	background-color: #F12B63;
	color: #ffffff;
}



.social-links a {
	background-color: #888;
}
.social-links a:hover {
	background-color: #333;
}



h1,
h2,
.section-title,
.products-list .product-name,
.products-grid .product-name,
h3.product-name,

/* Main menu */
#mobnav-trigger,
#nav > li > a,
.nav-wide #nav ul.level0 > li > a,

/* Block headings */
.block .block-title,

/* Checkout headings */
#opc-login h3,

/* Multiple checkout */
/*.fieldset .legend,
.multiple-checkout .col2-set h2.legend,
.info-set h2.legend,*/

/* Account */
.box-account .box-head h2,
.order-items h2.table-caption,
.order-items h2.sub-title,
.order-items .order-comments h2,

/* Product page */
.product-view .box-reviews dt .heading,

/* Footer headings */
.footer .heading,

/* Captions */
.slide .caption h2,
.slide .caption h3,

/* Custom content class */
.main-font
{
	font-family: Bitter, georgia, serif;
}
