<?xml version="1.0"?>
<config>
    <modules>
        <Loewenstark_Recallform>
            <version>0.0.1</version>
        </Loewenstark_Recallform>
    </modules>
    <global>
        <blocks>
            <recallform>
                <class>Loewenstark_Recallform_Block</class>
            </recallform>
        </blocks>
        <models>
            <recallform>
                <class>Loewenstark_Recallform_Model</class>
            </recallform>
        </models>
    </global>
    <frontend>
        <routers>
            <recallform>
                <use>standard</use>
                <args>
                    <module>Loewenstark_Recallform</module>
                    <frontName>recallform</frontName>
                </args>
            </recallform>
        </routers>   
        <layout>
            <updates>
                <arithmetic>
                    <file>recall.xml</file>
                </arithmetic>
            </updates>
        </layout>
    </frontend>
</config>