<?xml version="1.0"?>
<!--
	/**
	* Magento
	*
	* NOTICE OF LICENSE
	*
	* This source file is subject to the Open Software License (OSL 3.0)
	* that is bundled with this package in the file LICENSE.txt.
	* It is also available through the world-wide-web at this URL:
	* http://opensource.org/licenses/osl-3.0.php
	* If you did not receive a copy of the license and are unable to
	* obtain it through the world-wide-web, please send an email
	* to license@magentocommerce.com so we can send you a copy immediately.
	*
	* @package    Billpay
	* @author 	  Jan Wehrs <jan.wehrs@billpay.de>
	* @copyright  Copyright (c) 2009 Billpay GmbH
	* @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
	*/
-->
<config>
	<modules>
		<Billpay>
			<version>0.9.40</version>
		</Billpay>
	</modules>
	<global>
		<sales>
			<quote>
				<totals>
					<billpay>
                        <class>billpay/total_quote_fee</class>
						<after>subtotal,discount,tax,shipping</after>
                        <before>grand_total</before>
					</billpay>
					<billpay_surcharge>
                        <class>billpay/total_quote_surcharge</class>
                        <after>subtotal,discount,tax,shipping</after>
                        <before>grand_total</before>
					</billpay_surcharge>
					<billpay_transaction>
                        <class>billpay/total_quote_transaction</class>
                        <after>subtotal,discount,tax,shipping</after>
                        <before>grand_total</before>
					</billpay_transaction>
					<billpay_total>
                        <class>billpay/total_quote_total</class>
                        <after>subtotal,discount,tax,shipping</after>
                        <before>grand_total</before>
					</billpay_total>
				</totals>
			</quote>
			<order_invoice>
				<totals>
					<billpay>
                        <class>billpay/total_invoice_fee</class>
                        <after>subtotal,discount,tax,shipping</after>
                        <before>grand_total</before>
					</billpay>
					<billpay_surcharge>
                        <class>billpay/total_invoice_surcharge</class>
                        <after>subtotal,discount,tax,shipping</after>
                        <before>grand_total</before>
					</billpay_surcharge>
				</totals>
			</order_invoice>
			<order_creditmemo>
				<totals>
					<billpay>
                        <class>billpay/total_creditmemo_fee</class>
                        <after>subtotal,discount,tax,shipping</after>
                        <before>grand_total</before>
					</billpay>
					<billpay_surcharge>
                        <class>billpay/total_creditmemo_surcharge</class>
                        <after>subtotal,discount,tax,shipping</after>
                        <before>grand_total</before>
					</billpay_surcharge>
				</totals>
			</order_creditmemo>
		</sales>
		<pdf>
           <totals>
                <billpay translate="title">
                    <title>billpay_fee_general</title>
                    <source_field>billpay_charged_fee_amount</source_field>
                    <font_size>7</font_size>
                    <display_zero>0</display_zero>
                    <sort_order>410</sort_order>
                </billpay>
                <billpay_surcharge translate="title">
                	<title>billpay_rate_calculation_interest_add</title>
                    <source_field>billpay_rate_surcharge</source_field>
                    <font_size>8</font_size>
                    <display_zero>0</display_zero>
                    <sort_order>2000</sort_order>
                </billpay_surcharge>
                <billpay_fee translate="title">
                	<title>billpay_rate_transaction_fee</title>
                    <source_field>billpay_rate_fee</source_field>
                    <font_size>8</font_size>
                    <display_zero>0</display_zero>
                    <sort_order>2001</sort_order>
                </billpay_fee>
                <billpay_fee_tax translate="title">
                	<title>billpay_rate_included_tax</title>
                	<source_field>billpay_rate_fee_tax</source_field>
                	<model>billpay/total_pdf_transactionTax</model>
                    <font_size>6</font_size>
                    <display_zero>0</display_zero>
                    <sort_order>2002</sort_order>
                </billpay_fee_tax>
                <billpay_total translate="title">
                	<title>billpay_rate_calculation_total_value</title>
                    <source_field>billpay_rate_total_amount</source_field>
                    <font_size>8</font_size>
                    <display_zero>0</display_zero>
                    <sort_order>2003</sort_order>
                </billpay_total>
        	</totals>
        </pdf>
        <!-- This is necessary if market ready germany plugin is installed -->
        <invoicepdf>
			<totals>
                <billpay>
                    <title>Bestellgebühren</title>
                    <source_field>billpay_charged_fee_amount</source_field>
                    <font_size>8</font_size>
                    <display_zero>0</display_zero>
                    <sort_order>410</sort_order>
                </billpay>
                 <billpay_surcharge>
                	<title>Zinsaufschlag</title>
                    <source_field>billpay_rate_surcharge</source_field>
                    <font_size>10</font_size>
                    <display_zero>0</display_zero>
                    <sort_order>2000</sort_order>
                </billpay_surcharge>
                <billpay_fee>
                	<title>Bearbeitungsgebühr</title>
                    <source_field>billpay_rate_fee</source_field>
                    <font_size>10</font_size>
                    <display_zero>0</display_zero>
                    <sort_order>2001</sort_order>
                </billpay_fee>
                <billpay_fee_tax>
                	<title>Darin enthaltene Mwst.</title>
                	<source_field>billpay_rate_fee_tax</source_field>
                	<model>billpay/total_pdf_transactionTax</model>
                    <font_size>6</font_size>
                    <display_zero>0</display_zero>
                    <sort_order>2002</sort_order>
                </billpay_fee_tax>
                <billpay_total>
                	<title>Gesamtsumme Ratenkauf</title>
                    <source_field>billpay_rate_total_amount</source_field>
                    <font_size>10</font_size>
                    <display_zero>0</display_zero>
                    <sort_order>2002</sort_order>
                </billpay_total>
			</totals>
		</invoicepdf>
		<helpers>
			<billpay>
				<class>Billpay_Helper</class>
			</billpay>
		</helpers>
		<blocks>
			<billpay>
				<class>Billpay_Block</class>
			</billpay>
		</blocks>
		<models>
			<billpay>
				<class>Billpay_Model</class>
			</billpay>
			<sales>
				<rewrite>
					<order>Billpay_Model_Sales_Order</order>
				</rewrite>
			</sales>
			<checkout>
				<rewrite>
					<type_onepage>Billpay_Model_Checkout_Type_Onepage</type_onepage>
				</rewrite>
			</checkout>
			<core>
				<rewrite>
					<email_template_mailer>Billpay_Model_Email_Mailer</email_template_mailer>
				</rewrite>
			</core>
		</models>
		<payment>
			<transaction>
				<modes>
					<LIVE>
						<code>live</code>
						<name>Live mode</name>
					</LIVE>
					<TEST>
						<code>test</code>
						<name>Test mode</name>
					</TEST>
				</modes>
			</transaction>
		</payment>
		<resources>
			<billpay_order_setup>
				<setup>
					<module>Billpay</module>
					<class>Mage_Sales_Model_Mysql4_Setup</class>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</billpay_order_setup>
		</resources>
	</global>
	<frontend>
		<events>
			<billpay_after_save_payment>
				<observers>
					<preauth_event_handler>
						<type>model</type>
						<class>billpay/observer</class>
						<method>sendPreauthorizeRequest</method>
						<args></args>
					</preauth_event_handler>
				</observers>
			</billpay_after_save_payment>
			<billpay_before_send_new_order_mail>
				<observers>
					<preauth_event_handler>
						<type>model</type>
						<class>billpay/observer</class>
						<method>attachHirePurchasePdf</method>
						<args></args>
					</preauth_event_handler>
				</observers>
			</billpay_before_send_new_order_mail>
			<checkout_type_onepage_save_order>
				<observers>
					<set_bankaccount_event_handler>
						<type>model</type>
						<class>billpay/observer</class>
						<method>sendCaptureRequest</method>
						<args></args>
					</set_bankaccount_event_handler>
				</observers>
			</checkout_type_onepage_save_order>
			<checkout_type_onepage_save_order_after>
				<observers>
					<cleanup_event_handler>
						<type>model</type>
						<class>billpay/observer</class>
						<method>cleanup</method>
						<args></args>
					</cleanup_event_handler>
				</observers>
			</checkout_type_onepage_save_order_after>
			<sales_convert_quote_payment_to_order_payment>
				<observers>
					<convert_quote_event_handler>
						<type>model</type>
						<class>billpay/observer</class>
						<method>convertQuoteToOrder</method>
						<args></args>
					</convert_quote_event_handler>
				</observers>
			</sales_convert_quote_payment_to_order_payment>
		</events>
		<routers>
			<billpay>
				<use>standard</use>
				<args>
					<module>Billpay</module>
					<frontName>billpay</frontName>
				</args>
			</billpay>
		</routers>
		<translate>
			<modules>
				<Billpay>
					<files>
						<default>Billpay.csv</default>
					</files>
				</Billpay>
			</modules>
		</translate>
		<layout>
			<updates>
				<billpay>
					<file>billpay.xml</file>
				</billpay>
			</updates>
 		</layout>
	</frontend>
	<adminhtml>
		<translate>
			<modules>
				<Billpay>
					<files>
						<default>Billpay.csv</default>
					</files>
				</Billpay>
			</modules>
		</translate>
		<acl>
			<resources>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<billpaysettings>
											<title>Billpay Einstellungen</title>
										</billpaysettings>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
		<events>
			<billpay_before_cancel_order>
				<observers>
					<cancel_event_handler>
						<type>model</type>
						<class>billpay/observer</class>
						<method>sendCancelRequest</method>
						<args></args>
					</cancel_event_handler>
				</observers>
			</billpay_before_cancel_order>
			<checkout_type_onepage_save_order>
                <observers>
                    <set_bankaccount_event_handler>
                        <type>model</type>
                        <class>billpay/observer</class>
                        <method>sendEditcartRequest</method>
                        <args></args>
                    </set_bankaccount_event_handler>
                </observers>
            </checkout_type_onepage_save_order>
			<sales_order_invoice_pay>
				<observers>
					<confirm_invoice_event_handler>
						<type>model</type>
						<class>billpay/observer</class>
						<method>sendConfirmInvoiceRequest</method>
						<args></args>
					</confirm_invoice_event_handler>
				</observers>
			</sales_order_invoice_pay>
			<sales_order_creditmemo_save_before>
				<observers>
					<partialcancel_event_handler>
						<type>model</type>
						<class>billpay/observer</class>
						<method>sendPartialcancelRequest</method>
						<args></args>
					</partialcancel_event_handler>
				</observers>
			</sales_order_creditmemo_save_before>
		</events>
		<layout>
			<updates>
				<billpay>
					<file>billpay.xml</file>
				</billpay>
			</updates>
 		</layout>
	</adminhtml>
	<default>
		<payment>
			<billpay_rec translate="title" module="billpay">
				<active>1</active>
				<model>billpay/rec</model>
				<order_status>1</order_status>
				<title>billpay_rec</title>
				<allowspecific>0</allowspecific>
				<request_type>authorize</request_type>
				<charge_fee_steps_enabled>0</charge_fee_steps_enabled>
				<charge_fee_steps></charge_fee_steps>
			</billpay_rec>
			<billpay_elv>
				<active>1</active>
				<model>billpay/elv</model>
				<order_status>1</order_status>
				<title>Lastschrift</title>
				<allowspecific>0</allowspecific>
				<request_type>authorize</request_type>
				<charge_fee_steps_enabled>0</charge_fee_steps_enabled>
				<charge_fee_steps></charge_fee_steps>
			</billpay_elv>
			<billpay_rat>
				<active>1</active>
				<model>billpay/rat</model>
				<order_status>1</order_status>
				<title>Ratenkauf</title>
				<allowspecific>0</allowspecific>
				<request_type>authorize</request_type>
			</billpay_rat>
		</payment>
		<billpaysettings>
			<account>
				<merchant_id></merchant_id>
				<portal_id></portal_id>
				<security_key></security_key>
				<api_url_base>https://test-api.billpay.de/xml/offline</api_url_base>
				<api_url_base_live>https://api.billpay.de/xml</api_url_base_live>
				<transaction_mode>test</transaction_mode>
			</account>
			<fee>
				<fee_contain_tax>1</fee_contain_tax>
				<display_incl_tax_frontend>1</display_incl_tax_frontend>
				<display_incl_tax_admin>1</display_incl_tax_admin>
			</fee>
			<settings>
				<temp_path>var/tmp</temp_path>
				<send_invoice_mail_copy>1</send_invoice_mail_copy>
				<checkout_type>magento</checkout_type>
				<activate_ajax_form>1</activate_ajax_form>
				<use_trusted_shops_buyer_protection>0</use_trusted_shops_buyer_protection>
				<activate_auto_hide_payment>1</activate_auto_hide_payment>
			</settings>
		</billpaysettings>
		<sales>
			<totals_sort>
				<billpay>95</billpay>
				<billpay_surcharge>500</billpay_surcharge>
				<billpay_transaction>550</billpay_transaction>
				<billpay_transaction_tax>551</billpay_transaction_tax>
				<billpay_total>600</billpay_total>
			</totals_sort>
		</sales>
	</default>
</config>