<?xml version="1.0"?>
<config>
    <modules>
        <Loewenstark_Configurator>
            <version>0.0.1</version>
        </Loewenstark_Configurator>
    </modules>
    <global>
        <blocks>
            <configurator>
                <class>Loewenstark_Configurator_Block</class>
            </configurator>
        </blocks>
        <models>
            <configurator>
                <class>Loewenstark_Configurator_Model</class>
            </configurator>
            <checkout>
                <rewrite>
                    <cart>Loewenstark_Configurator_Model_Checkout_Cart</cart>
                </rewrite>
            </checkout>
        </models>
        <helpers>
            <configurator>
                <class>Loewenstark_Configurator_Helper</class>
            </configurator>
        </helpers>
    </global>
    <frontend>
        <layout>
            <updates>
                <configurator>
                    <file>configurator.xml</file>
                </configurator>
            </updates>
        </layout>
        <events>
            <checkout_cart_product_add_before>
                <observers>
                    <configurator_observer_add_to_cart_before>
                        <type>singleton</type>
                        <class>loewenstark_configurator/checkout_observer</class>
                        <method>disableCsrf</method>
                    </configurator_observer_add_to_cart_before>
                </observers>
            </checkout_cart_product_add_before>
        </events>
    </frontend>
   
</config>