<?xml version="1.0"?>
<!--
/**
 * @category	Infortis
 * @package		Infortis_Ultimo
 * @author		Infortis
 * @copyright	Copyright 2012 Infortis
 */
-->
<config>
    <modules>
        <Infortis_Ultimo>
            <version>1.1.0</version>
        </Infortis_Ultimo>
    </modules>
    <!--<frontend>
        <layout>
            <updates>
                <ultimo>
                    <file>ultimo.xml</file>
                </ultimo>
            </updates>
        </layout>
    </frontend>-->
	<!--<frontend>
		<routers>
			<ultimo>
				<use>standard</use>
				<args>
					<module>Infortis_Ultimo</module>
					<frontName>ultimo</frontName>
				</args>
			</ultimo>
		</routers>
	</frontend>-->
	<admin>
		<routers>
			<ultimo>
				<use>admin</use>
				<args>
					<module>Infortis_Ultimo</module>
					<frontName>ultimo</frontName>
				</args>
			</ultimo>
		</routers>
	</admin>
    <global>
        <models>
            <ultimo>
                <class>Infortis_Ultimo_Model</class>
            </ultimo>
        </models>
        <blocks>
            <ultimo>
                <class>Infortis_Ultimo_Block</class>
            </ultimo>
        </blocks>
        <helpers>
            <ultimo>
                <class>Infortis_Ultimo_Helper</class>
            </ultimo>
        </helpers>
    </global>
	<default>
		<!-- Main settings -->
		<ultimo>
			<mainmenu>
				<home>1</home>
				<!--<home_img>0</home_img>-->
				<standard_menu>0</standard_menu>
				<wide_menu>1</wide_menu>
				<level2_column_count>6</level2_column_count>
			</mainmenu>
			<category>
				<aspect_ratio>0</aspect_ratio>
			</category>
			<category_grid>
				<column_count>3</column_count>
				<equal_height>1</equal_height>
				<hover_effect>1</hover_effect>
				<display_rating>1</display_rating>
				<display_addtocart>2</display_addtocart>
				<display_addtolinks>1</display_addtolinks>
				<addtolinks_simple>1</addtolinks_simple>
			</category_grid>
			<category_list>
				<hover_effect>1</hover_effect>
				<addtolinks_simple>0</addtolinks_simple>
			</category_list>
			<product_page>
				<image_column>4</image_column>
				<primary_column>5</primary_column>
				<secondary_column>3</secondary_column>
				<replace_related>2</replace_related>
				<replace_upsell>1</replace_upsell>
			</product_page>
			<product_labels>
				<new>1</new>
				<sale>1</sale>
			</product_labels>
			<footer>
				<links_column_auto_width>1</links_column_auto_width>
			</footer>
			<product_slider>
				<timeout></timeout>
				<speed>400</speed>
				<move_items>0</move_items>
			</product_slider>
			<magento_blocks>
				<top_links>1</top_links>
				<footer_links>1</footer_links>
				<footer_newsletter>1</footer_newsletter>
			</magento_blocks>
			<install>
				<overwrite_blocks>0</overwrite_blocks>
				<overwrite_pages>0</overwrite_pages>
			</install>
			<customization>
				<custom_css>0</custom_css>
			</customization>
		</ultimo>
		<!-- Design settings -->
		<ultimo_design>
			<colors>
				<color>#333</color>
				<link_color>#777</link_color>
				<link_hover_color>#00a9c7</link_hover_color>
				<button_bg_color>#ddd</button_bg_color>
				<button_color>#333</button_color>
				<button_hover_bg_color>#5bd2ec</button_hover_bg_color>
				<button_hover_color>#333</button_hover_color>
				<button_active_bg_color>#333</button_active_bg_color>
				<button_active_color>#fff</button_active_color>
				<icon_bg_color>#D52462</icon_bg_color>
				<icon_hover_bg_color>#5bd2ec</icon_hover_bg_color>
				<social_icon_bg_color>#888</social_icon_bg_color>
				<social_icon_hover_bg_color>#333</social_icon_hover_bg_color>
				<important_link_hover_color>#fff</important_link_hover_color>
				<important_link_hover_bg_color>#333</important_link_hover_bg_color>
				<label_new_bg_color>#5BD2EC</label_new_bg_color>
				<label_new_color>#fff</label_new_color>
				<label_sale_bg_color>#F12B63</label_sale_bg_color>
				<label_sale_color>#fff</label_sale_color>
				<price_color>#00a9c7</price_color>
			</colors>
			<font>
				<font_size>12px</font_size>
				<primary_font_family>Bitter</primary_font_family>
			</font>
			<effects>
				<shadow>0</shadow>
			</effects>
			<page>
				<bg_color>transparent</bg_color>
				<bg_image></bg_image>
				<bg_repeat>repeat</bg_repeat>
				<bg_attachment>scroll</bg_attachment>
				<bg_positionx>center</bg_positionx>
				<bg_positiony>top</bg_positiony>
				<tex></tex>
			</page>
			<header>
				<top_border_color>#333</top_border_color>
				<bg_color></bg_color>
				<tex></tex>
				<inner_bg_color></inner_bg_color>
				<color></color>
				<link_color></link_color>
				<link_hover_color></link_hover_color>
				<dropdown_bg_color>#fff</dropdown_bg_color>
				<dropdown_color>#333</dropdown_color>
				<dropdown_link_color>#777</dropdown_link_color>
				<dropdown_link_hover_color>#00a9c7</dropdown_link_hover_color>
			</header>
			<nav>
				<inner_bg_color></inner_bg_color>
				<bg_color>#f5f5f5</bg_color>
				<color>#333</color>
				<hover_bg_color>#5bd2ec</hover_bg_color>
				<hover_color>#fff</hover_color>
				<active_bg_color>#333</active_bg_color>
				<active_color>#fff</active_color>
				<stretched>0</stretched>
				<border>1</border>
			</nav>
			<main>
				<bg_color></bg_color>
				<tex></tex>
				<inner_bg_color>#fff</inner_bg_color>
			</main>
			<footer>
				<bg_color>#f5f5f5</bg_color>
				<tex>1</tex>
				<inner_bg_color></inner_bg_color>
				<color></color>
				<link_color></link_color>
				<link_hover_color></link_hover_color>
			</footer>
			<footer_top>
				<bg_color></bg_color>
				<inner_bg_color></inner_bg_color>
				<color></color>
				<link_color></link_color>
				<link_hover_color></link_hover_color>
			</footer_top>
			<footer_primary>
				<bg_color></bg_color>
				<inner_bg_color>#fff</inner_bg_color>
				<color></color>
				<link_color></link_color>
				<link_hover_color></link_hover_color>
				<padding_top>0</padding_top>
				<padding_bottom>0</padding_bottom>
			</footer_primary>
		</ultimo_design>
		<!-- Layout settings -->
		<ultimo_layout>
			<responsive>
				<max_width>1280</max_width>
				<max_width_custom></max_width_custom>
				<fluid_width>1</fluid_width>
			</responsive>
		</ultimo_layout>
	</default>
</config>